{% load wagtailcore_tags wagtailimages_tags %}

<div class="two-column-container">
    <div class="column" style="{% if value.background_image_left %}background-image: url('{{ value.background_image_left.file.url }}'); {% endif %}min-height: {{ value.min_height|default:300 }}px;">
        <div class="column-content">
            {% for block in value.content_left %}
                {% include_block block %}
            {% endfor %}
        </div>
    </div>

    <div class="column" style="{% if value.background_image_right %}background-image: url('{{ value.background_image_right.file.url }}'); {% endif %}min-height: {{ value.min_height|default:300 }}px;">
        <div class="column-content">
            {% for block in value.content_right %}
                {% include_block block %}
            {% endfor %}
        </div>
    </div>
</div>
