{% load wagtailsettings_tags wagtailcore_tags wagtailimages_tags %}

<footer class="site-footer">
    <div class="container">
        {% with footer=settings.base.FooterSettings %}
            {% if footer.banner_image1 %}
                <div class="footer-img">
                    {% if footer.banner_url1 %}
                        <a href="{{footer.banner_url1}}" target="_blank">
                            <img src="{{footer.banner_image1.file.url}}" alt="Banner" class="banner-img">
                        </a>
                    {% else %}
                        <img src="{{footer.banner_image1.file.url}}" alt="Banner" class="banner-img">
                    {% endif %}
                </div>
            {% endif %}
                {% if footer.footer_text %}
                <div class="footer-text">
                    {{ footer.footer_text|richtext }}
                </div>
            {% endif %}
            {% endwith %}
        </div> 
</footer>