#rotating-banner {
    position: relative;
    width: 100%;
    height: 110px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #1e7554; /* ou a cor do seu site */
}

#rotating-banner .heads-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#rotating-banner .heads-img.active {
    opacity: 1;
}

#rotating-banner .banner-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

header {
    background-color: #1e7554;
    padding-top: 15px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: #1e7554;
}
.nav-itens {
    display: flex;
    gap: 15px;
    font-size: 18px;
}
.nav-itens a{
    color: #ffffff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    transition: all 0.3s ease;
    font-weight: 500;
} 
.nav-itens a:hover{ 
    background-color: #ffffff;
    color: #1e0341;
    transform: translateY(-2px);
}
.social-icons {
    display: flex;
    gap: 15px;
}
.social-icons a {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #a7f3d0; 
}