{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-indexpage{% endblock %}

{% block content %}
    <div class="page-container index-page">
        <h1>{{ page.title }}</h1>
        {% for block in page.intro %}
            {% if block.block_type == 'title' %}
                <h2>{{ block.value }}</h2>
            {% elif block.block_type == 'corpo' %}
                <div class="intro-content">{{ block.value|richtext }}</div>
            {% endif %}
        {% endfor %}
        
        <div class="posts-list">
            {% for post in page.get_children %}
                <article class="post-preview">
                    <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                    <div class="post-body">
                        {% for block in post.specific.body %}
                            {% if block.block_type == 'heading' %}
                                <h3>{{ block.value }}</h3>
                            {% elif block.block_type == 'paragraph' %}
                                {{ block.value|richtext }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}